<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
    <% if params[:role] == '1' %>
       <h1>Home Account</h1>
       <p>Sign up for the home account and find Tradesmen</p>
    <% elsif params[:role] == '2' %>
      <h1>Contractor Account</h1>
      <p>Sign up as a contractor to find Tradesmen and Projects</p>
    <% else %>
      <h1>TradesPerson Acccount </h1>
      <p>Sign up as a TradesPerson and be found for work</p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h2>Sign up</h2>
      
      <% if params[:role] == '1' %>
        <%= render "homer_form"%>
      <% elsif params[:role] == '2' %>
        <%= render "contractor_form" %>
      <% else %>
        <%= render "trader_form" %>
      <% end %>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>