<h2>About Us</h2>
<p>Welcome to TradesPpl. We want to help home improvers and contractors connect with eachother and with tradespeople who have skills they need. They can also leave reviews and help other searchers</p>